/* Full-page background */
.background-container {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(2px); /* Apply blur to the background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: "center";
}
